.navigation {
  height: 40px;
  background-color: rgb(167, 237, 223);
  border-bottom: 3px solid rgba(113, 102, 106, 0.467);
  padding-top: 20px;
}

.link {
  width: 100px;
  font-size: 18px;
  text-decoration: none;
  color: rgb(29, 11, 11);
  margin-right: 12px;
}

.link:first-child {
  margin-left: 20px;
}

.link:last-child {
  margin-right: 0;
}

.active {
  color: rgb(202, 5, 5);
}
